.container {
  background-color: #ffd804;
  padding: 1.5rem;

  @media (min-width: 1400px) {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }
}

.beneficiosText {
  @media (min-width: 768px) {
    font-size: 1.2rem !important;
  }

  @media (min-width: 1100px) {
    font-size: 1.3rem !important;
  }

  @media (min-width: 1400px) {
    font-size: 1.5rem !important;
  }
}

.beneficioBox {
  align-items: center;
  display: flex;
  gap: 1rem;

  @media (min-width: 1100px) {
    gap: 1.5rem;
  }

  @media (min-width: 1400px) {
  }
}

.beneficioImg {
  @media (min-width: 1000px) {
    img,
    span {
      min-height: 60px !important;
      min-width: 60px !important;
    }
  }

  @media (min-width: 1400px) {
    img,
    span {
      min-height: 80px !important;
      min-width: 80px !important;
    }
  }
}
