.container {
  h1 {
    font-family: "Poppins", sans-serif;
  }
}

.box {
  min-height: 250px;

  @media (min-width: 1100px) {
    min-height: 350px;
  }
}

.app {
  background-color: #0e2f8c;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  display: flex;

  p {
    text-align: justify;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 1.9rem !important;
      text-align: center;
    }

    p {
      font-size: 1.4rem !important;
    }
  }

  @media (min-width: 1400px) {
    align-items: center;

    h1 {
      font-size: 2.3rem !important;
    }

    p {
      font-size: 1.5rem !important;
      width: 60%;
      margin: 0 auto !important;
      padding-top: 3rem !important;
    }
  }
}

.appContainer {
  margin-left: 6rem !important;
}

.appStore {
  @media (min-width: 768px) {
    img {
      height: 50px !important;
      width: 180px !important;
    }
  }

  @media (min-width: 1400px) {
    img {
      height: 60px !important;
      width: 200px !important;
    }
  }
}

.appImgContainer {
  display: none;

  @media (min-width: 500px) {
    display: flex !important;
    justify-content: center !important;
  }

  @media (min-width: 1100px) {
    img,
    span {
      min-height: 380px !important;
      min-width: 200px !important;
      opacity: 0.8;
    }
  }
}
