.container {
    h1 {
        font-family: 'Poppins', sans-serif;
    }
}

.box {
    min-height: 250px;
}

.app {
    background-color: #0E2F8C;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;

    p {
        text-align: justify;
    }

    @media(min-width: 768px) {
        h1 {
            font-size: 1.4rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

.appDownload {

    @media(min-width: 768px) {
    }
}