.container {
  background-color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 2rem;
}

.contato {
  margin-bottom: 2rem;

  h1 {
    font-family: "Poppins", sans-serif;
    margin: 0 0 1rem 0;
    text-align: center;
  }
  p {
    margin: 0;
    text-align: center;
  }
}

.contatoDesc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;

  svg {
      font-size: 1.8rem;
  }
}

.contatoItem {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.boxContato {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: #3593c1;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
  }
  p {
    font-size: 0.9rem;
    margin: 0;
    text-align: center;
  }

  
}
