.footer {
  align-items: center;
  background-color: #0e2f8c;
  color: #fff;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  height: 100px;
  justify-content: center;

  p {
      margin: 0;
  }
}
