.home {
  height: 60vh;
  position: relative;
}

.homeBg {
  align-items: end;
  background: url("/images/bg.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  height: 45vh;
}

.homeBg button {
  margin: 8px;
}
