.container {
  overflow: hidden;
}

.boxNoticias {
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;

  a {
    text-decoration: none;
  }

  img {
    border: 2px solid black;
    border-radius: 8px;
  }
}

.seeMore {
  a {
    text-decoration: none;
  }
}

.box {
    @media(min-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}