.descricao {
  font-family: "DM Sans", sans-serif;
  text-align: justify;

  p {
    color: #7a7a7a;
  }
}

.dataWrapper {
  text-align: center;
  hr {
    width: 60vw;
  }
}

.box {
  background-color: #1e6492;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  height: 160px;
  text-align: justify;

  &:nth-child(2) {
    background-color: #0e2f8c;
  }
}

.simule {
  background: url(/images/solar5.jpg);
  background-size: cover;
  height: 250px;

  p {
    color: #f5f9ff;
    font-family: "DM Sans", sans-serif;
    width: 80%;
  }
}
